@charset "UTF-8";
/* VARIABLES */
/*--------------- HEADER------------------ */
.navbar-collapse {
  justify-content: right;
  flex-grow: unset;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 40px;
}

.logosilvio {
  max-height: 84.76px;
}

.navbar-toggler {
  margin-right: 5rem;
}

a {
  text-decoration: none;
  margin: 5px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: "Julius Sans One", sans-serif;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .iconos {
  height: 50px;
  margin: 0px 20px;
}
footer div ul {
  list-style: none;
  font-size: 1.7rem;
  display: flex;
}

.ul2 {
  flex-direction: column;
  text-align: right;
  font-family: "Julius Sans One", sans-serif;
}

.logosilvioabajo {
  margin: 10px;
}

/* BODY */
/*----------------- MAIN -----------------*/
main section img {
  width: 100vw;
}

/* section 1 */
/* SECTION 1 */
main .section1index {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
main .section1index .diventrada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 19rem;
  font-family: "Aboreto", cursive;
  font-size: 8rem;
}
main .section1index .diventrada p {
  margin-top: 2rem;
}
main .section1index .diventrada .movimiento1 {
  opacity: 0;
  animation: entrar-izq-a-der 1.5s forwards;
  overflow: hidden;
}
@keyframes entrar-izq-a-der {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
main .section1index .diventrada .movimiento2 {
  opacity: 0;
  animation: entrar-izq-a-der 0.7s forwards;
  overflow: hidden;
}
@keyframes entrar-izq-a-der {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
main .section1index .diventrada .movimiento3 {
  opacity: 0;
  animation: entrar-der-a-izq 2s forwards;
  overflow: hidden;
}
@keyframes entrar-der-a-izq {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
main .section1index .subtituloindex {
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  font-style: italic;
  margin-bottom: 3rem;
}
main .section1index .subtituloindex .movimiento4 {
  opacity: 0;
  animation: entrar-abajo-a-arriba 0.5s forwards;
  animation-delay: 1.5s;
}
@keyframes entrar-abajo-a-arriba {
  from {
    transform: translateY(600%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
main .article_section1_index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
}
main .article_section1_index div p {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  padding: 6.5rem;
}
main .hrindex {
  margin-right: 10rem;
  margin-left: 10rem;
}

/* section 2 */
section .section2index {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section .section2index div .syp2 {
  display: none;
}
section .section2index .divconflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding-right: 10px;
}
section .section2index .divconflex .divconflex2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section .section2index .divconflex .divconflex2 p {
  font-size: 8.5rem;
  text-align: right;
  font-family: "Aboreto", cursive;
  padding: 10px 0px 0px 10px;
  margin: 0px;
}
section .section2index .divconflex div .txt_lft {
  text-align: left;
  font-size: 3rem;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  margin-right: 2rem;
}

/* Section 3 */
section .hr2 {
  height: 2px;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  margin: 0px 10rem;
}
section .top {
  margin-top: 2rem;
}
section .article3 {
  margin: 25px;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  font-family: "Julius Sans One", sans-serif;
}
section figure .recientes {
  width: 500px;
  transition: 0.8s;
}
section figure .recientes:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
section figure figcaption {
  text-align: center;
  margin-top: 10px;
}

/* Section 4 */
.section4index .article-container {
  display: flex;
  flex-direction: row;
  padding: 50px;
}
.section4index .article-container .gracias {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 3rem;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
}
.section4index .article-container .gracias p {
  font-size: 8.5rem;
  text-align: right;
  font-family: "Aboreto", cursive;
  margin-bottom: 0px;
}
.section4index .article-container .gracias hr {
  height: 2px;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  margin-left: 50px;
}
.section4index .article-container .gracias .parrafogracias {
  font-family: "Quicksand", sans-serif;
  text-align: right;
  font-size: 3rem;
  padding: 10px;
}
.section4index .article-container .gracias .writemebutton {
  font-size: 3rem;
  padding: 0;
  margin-right: 5rem;
  width: 250px;
  align-self: self-end;
  height: 5.5rem;
  background-image: url(../img/resaltado3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  transition: 1.2s;
}
.section4index .article-container .gracias .writemebutton:hover {
  transform: scale(1.5);
}

.img600 {
  width: 600px;
}

.foto_wide {
  width: 95vw;
}

.margen {
  padding: 40px;
}

/* section1 */
.wide_img_with_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* section 2 3 y 4 */
  /* section 5 */
}
.wide_img_with_title .propuesta {
  width: 95vw;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.wide_img_with_title .propuesta div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.wide_img_with_title .propuesta div p {
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: left;
  font-size: 3rem;
  font-style: italic;
  font-family: "Quicksand", sans-serif;
}
.wide_img_with_title .propuesta2 {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wide_img_with_title .propuesta2 .tresfotos {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.wide_img_with_title .propuesta2 .tresfotos .imagen3 {
  width: 550px;
}
.wide_img_with_title .propuesta2 p {
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: left;
  font-size: 3rem;
  font-style: italic;
  font-family: "Quicksand", sans-serif;
  padding: 2rem;
}

main .intro {
  display: grid;
}
main .intro .imgtxt2 {
  justify-self: center;
  align-self: center;
  width: 75rem;
  margin-top: 2rem;
}

#galerias {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: center;
}
#galerias .galeriasdebodas {
  width: 500px;
  transition: 0.8s;
}
#galerias .galeriasdebodas:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

section .article3 {
  margin: 25px;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  font-family: "Julius Sans One", sans-serif;
}

.hr4 {
  margin: 0px;
}

@media screen and (max-width: 800px) {
  .intro .imgtxt2 {
    width: 600px;
  }
}
main .columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.txtport {
  font-size: 3rem;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  text-align: center;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

#carusia {
  background-color: #FDF0E5;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.carousel-item {
  max-width: 1400px;
  width: 97vw;
  transition: 1.7s;
}

.carousel {
  padding-bottom: 30px;
}

.form {
  background-image: url(../img/background_contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Aboreto", cursive;
}
.form .form_title {
  text-align: center;
  padding-top: 5rem;
  color: #FDF0E5;
}
.form .form_subtitle {
  font-size: 3.5rem;
  align-content: center;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  color: #FDF0E5;
}
.form .sectioncontacto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form .sectioncontacto .cajadecontacto {
  width: 500px;
}
.form .sectioncontacto .cajadecontacto .formulario {
  display: flex;
  flex-direction: column;
}
.form .sectioncontacto .cajadecontacto .formulario label {
  font-size: 2rem;
  color: #FDF0E5;
}
.form .sectioncontacto .cajadecontacto .formulario input {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.5rem;
  height: 4rem;
  width: 500px;
}
.form .sectioncontacto .cajadecontacto .formulario textarea {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.5rem;
  width: 500px;
  height: 227px;
  padding: 5px;
}
.form .sectioncontacto .cajadecontacto .formulario .botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 5px;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  border-radius: 10px;
}
.form .sectioncontacto .cajadecontacto .formulario .botones .boton {
  width: 170px;
  align-items: center;
  border-radius: 5px;
}
.form .sectioncontacto .cajadecontacto2 {
  padding: 20px;
}
.form .sectioncontacto .cajadecontacto2 ul {
  margin-top: 10rem;
  font-size: 3rem;
  font-style: italic;
  font-family: "Julius Sans One", sans-serif;
}
/* AJUSTES FORMULARIO COPIADO */
.contact-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}
.contact-form label {
  color: black;
  margin-bottom: 10px;
}
.contact-form .heading {
  font-size: 24px;
  color: black;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form button[type=submit] {
  background-color: #ff6384;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.contact-form button[type=submit]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

textarea {
  resize: none;
  height: 80px;
  width: 200px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6384;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

body #main_galerias {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #main_galerias .titulo_galeria {
  font-family: "Aboreto", cursive;
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 0px;
}
body #main_galerias .descripcion_titulo {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}
body #main_galerias .descripcion_titulo hr {
  margin-top: 0px;
}
body #main_galerias .articulo_galeria {
  font-family: "Quicksand", sans-serif;
  font-size: 1.7rem;
  text-align: left;
  width: 1200px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
body #main_galerias .galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  margin-bottom: 5rem;
}
body #main_galerias .galeria .img_galeria {
  width: 1000px;
}
body #main_galerias .div_volver {
  margin-top: 5rem;
}
body #main_galerias .div_volver .volver {
  padding-left: 5rem;
  padding-right: 5rem;
}
body #main_galerias .sectionvideocl #videocl {
  margin-bottom: 5rem;
}
body #main_galerias .sectionvideocl #videocl iframe {
  width: 600px;
  height: 400px;
}

@media screen and (max-width: 1765px) {
  .wide_img_with_title .propuesta2 .tresfotos .imagen3 {
    width: 500px;
  }
}
@media screen and (max-width: 1560px) {
  .wide_img_with_title .propuesta2 .tresfotos .imagen3 {
    width: 450px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1522px) {
  main .section1index .diventrada {
    column-gap: 8rem;
  }
  main .section1index .subtituloindex {
    font-size: 3.3rem;
  }
  main .article_section1_index {
    padding-left: 4rem;
    padding-right: 1rem;
  }
  main .article_section1_index div .imagen {
    width: 600px;
  }
  main .article_section1_index div p {
    font-size: 2.5rem;
    padding: 4rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1522px) {
  /* Index */
  main {
    /* section 2 */
  }
  main section .section2index .divconflex div .txt_lft {
    font-size: 2.5rem;
  }
  main section .section2index div .imagen {
    width: 600px;
  }
  main .section4index .article-container figure .imagen {
    width: 600px;
  }
  main .section4index .article-container .gracias .parrafogracias {
    font-size: 2.5rem;
  }
  /* propuesta */
  .wide_img_with_title section div .textopropuesta {
    font-size: 2rem;
  }
  .wide_img_with_title .propuesta2 .tresfotos .imagen3 {
    width: 380px;
  }
  .wide_img_with_title .propuesta2 .textopropuesta {
    font-size: 2rem;
  }
  /* Bodas */
  main .intro .imgtxt2 {
    width: 55rem;
  }
  /* Portfolio */
  main .columna .txtport {
    font-size: 2.5rem;
  }
  /* Galerías de Bodas */
  body #main_galerias .titulo_galeria {
    font-size: 4rem;
  }
  body #main_galerias .descripcion_titulo {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  body #main_galerias .articulo_galeria {
    font-size: 1.7rem;
    width: 900px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1200px) {
  /* index */
  .logosilvio {
    max-height: 64.76px;
  }
  footer .iconos {
    height: 40px;
    margin: 0px 16px;
  }
  main {
    /* section 2 */
    /* section 4 */
    /* section 3 */
  }
  main section .section2index .divconflex .divconflex2 p {
    font-size: 6.5rem;
  }
  main section .section2index .divconflex div .txt_lft {
    font-size: 2rem;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  main section .section2index div .imagen {
    width: 500px;
  }
  main section .section2index div .syp1 {
    display: none;
  }
  main section .section2index div .syp2 {
    display: inline;
  }
  main .section4index .article-container figure .imagen {
    width: 500px;
  }
  main .section4index .article-container .gracias .parrafogracias {
    font-size: 2rem;
  }
  main .section4index .article-container .gracias p {
    font-size: 6.5rem;
  }
  main section .article3 {
    font-size: 1.5rem;
  }
  main section div figure .recientes {
    width: 400px;
  }
  main section div figure figcaption {
    font-size: 1.4rem;
  }
  /* Propuesta ******************************/
  .foto_wide {
    width: 100vw;
  }
  main .wide_img_with_title {
    /* section 5 */
  }
  main .wide_img_with_title div .imgtxt {
    width: 400px;
  }
  main .wide_img_with_title .propuesta {
    width: 100vw;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  main .wide_img_with_title .propuesta div .img600 {
    width: 800px;
    padding: 1rem;
  }
  main .wide_img_with_title .propuesta .columna .textopropuesta {
    margin-bottom: 30px;
    font-size: 2.2rem;
  }
  main .wide_img_with_title .propuesta2 .tresfotos div .imagen3 {
    width: 330px;
  }
  main .wide_img_with_title .propuesta2 .textopropuesta {
    margin: 0px;
    padding-top: 0px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    font-size: 2.2rem;
  }
  /* Galerías de bodas */
  body #main_galerias .titulo_galeria {
    font-size: 4rem;
  }
  body #main_galerias .descripcion_titulo {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  body #main_galerias .articulo_galeria {
    font-size: 1.7rem;
    width: 850px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  /* Index */
  main {
    /* section 1 */
  }
  main .section1index .diventrada {
    column-gap: 5rem;
  }
  main .section1index .diventrada p {
    font-size: 6rem;
  }
  main .section1index .subtituloindex {
    font-size: 2.2rem;
  }
  main .article_section1_index {
    flex-direction: column;
  }
  main .article_section1_index div .imagen {
    width: 700px;
  }
  main .article_section1_index div p {
    font-size: 2rem;
    padding: 3rem;
  }
  /* section 2 */
  section .section2index {
    flex-direction: column;
    padding: 30px;
  }
  section .section2index .divconflex .divconflex2 p {
    font-size: 5.5rem;
    margin: 0px;
    padding: 0px 0px 0px 10px;
  }
  section .section2index .divconflex div .txt_lft {
    font-size: 2rem;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  section .section2index div .imagen {
    width: 500px;
    margin-top: 30px;
  }
  section .section2index div .syp1 {
    display: none;
  }
  section .section2index div .syp2 {
    display: inline;
  }
  /* section 4 */
  .section4index .article-container {
    flex-direction: column;
    align-items: center;
  }
  .section4index .article-container figure .imagen {
    width: 500px;
  }
  .section4index .article-container .gracias .parrafogracias {
    font-size: 2rem;
  }
  .section4index .article-container .gracias p {
    font-size: 5.5rem;
  }
  .logosilvio {
    max-height: 54.76px;
  }
  footer .iconos {
    height: 30px;
    margin: 0px 16px;
  }
  footer .ul2 {
    font-size: 12px;
  }
  /* Propuesta *****************************/
  .foto_wide {
    width: 100vw;
  }
  .wide_img_with_title div .imgtxt {
    width: 400px;
  }
  .wide_img_with_title .propuesta {
    flex-direction: column;
    padding: 30px;
  }
  .wide_img_with_title .propuesta div .img600 {
    width: 768px;
    padding: 1rem;
  }
  .wide_img_with_title .propuesta .columna .textopropuesta {
    margin-bottom: 30px;
    font-size: 2.2rem;
  }
  .wide_img_with_title .propuesta2 .tresfotos {
    flex-direction: column;
  }
  .wide_img_with_title .propuesta2 .tresfotos .imagen3 {
    width: 750px;
  }
  .wide_img_with_title .propuesta2 .textopropuesta {
    padding: 0px;
    margin-bottom: 50px;
    font-size: 2.2rem;
  }
  /* footer */
  /* Bodas */
  section .intro .imgtxt2 {
    width: 600px;
  }
  section #galerias div figcaption {
    font-weight: normal;
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
  .teinvito .article3 {
    font-weight: bold;
  }
  .teinvito div .figcaption {
    font-weight: normal;
    margin-top: 1.8rem;
    margin-bottom: 50px;
  }
  .teinvito #videocontainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  /* Galerías de bodas */
  body #main_galerias .titulo_galeria {
    font-size: 4rem;
  }
  body #main_galerias .descripcion_titulo {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  body #main_galerias .articulo_galeria {
    font-size: 1.7rem;
    width: 700px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  body #main_galerias .galeria {
    row-gap: 0.5rem;
    margin-bottom: 5rem;
  }
  body #main_galerias .galeria .img_galeria {
    width: 700px;
  }
  /* revisar */
  .parrafos {
    padding: 40px;
  }
  .article-container {
    display: flex;
    flex-direction: column;
  }
  .article3 {
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-row-gap: 2rem;
  }
  .recientes {
    width: 400px;
  }
  figcaption {
    text-align: center;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  /* Index */
  .logosilvio {
    max-height: 54.76px;
  }
  main .section1index .diventrada {
    column-gap: 2rem;
  }
  main .section1index .diventrada p {
    font-size: 4rem;
  }
  main .section1index .subtituloindex p {
    font-size: 1.5rem;
  }
  main .article_section1_index {
    flex-direction: column;
    padding: 0px;
  }
  main .article_section1_index div .imagen {
    width: 95vw;
  }
  main .article_section1_index div p {
    font-size: 2rem;
    padding: 3rem;
  }
  /* section 2 */
  section .section2index {
    flex-direction: column;
    padding: 30px;
  }
  section .section2index .divconflex .divconflex2 p {
    font-size: 4rem;
    margin: 0px;
    padding: 0px 0px 0px 10px;
  }
  section .section2index .divconflex div .txt_lft {
    font-size: 2rem;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  section .section2index div .imagen {
    width: 95vw;
    margin-top: 30px;
  }
  section .section2index div .syp1 {
    display: none;
  }
  section .section2index div .syp2 {
    display: inline;
  }
  section .article3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .article3 figure .recientes {
    width: 455px;
  }
  .section4index .article-container {
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 30px;
  }
  .section4index .article-container .gracias {
    padding: 0px;
  }
  .section4index .article-container .gracias p {
    font-size: 4rem;
  }
  .section4index .article-container .gracias hr {
    margin-top: 0px;
  }
  .section4index .article-container .gracias .parrafogracias {
    font-size: 30px;
  }
  .section4index .article-container figure .imagen {
    width: 98vw;
  }
  /* footer */
  footer {
    flex-direction: column;
  }
  footer div a .logosilvioabajo {
    margin-top: 16px;
  }
  footer div .ul2 {
    align-items: center;
  }
  footer div ul a .iconos {
    height: 30px;
    margin: 16px;
  }
  /* Propuesta *****************************/
  .foto_wide {
    width: 100vw;
  }
  main .wide_img_with_title div .imgtxt {
    width: 400px;
  }
  main .wide_img_with_title .propuesta {
    flex-direction: column;
    padding: 7px;
  }
  main .wide_img_with_title .propuesta div .img600 {
    width: 95vw;
  }
  main .wide_img_with_title .propuesta .columna .textopropuesta {
    margin: 30px;
    margin-top: 0px;
    font-size: 2.2rem;
  }
  main .wide_img_with_title .propuesta2 .tresfotos {
    flex-direction: column;
  }
  main .wide_img_with_title .propuesta2 .tresfotos .imagen3 {
    width: 95vw;
  }
  main .wide_img_with_title .propuesta2 .textopropuesta {
    padding: 0px;
    margin: 30px;
    margin-top: 0px;
    font-size: 2.2rem;
  }
  /* Bodas */
  section .intro .imgtxt2 {
    width: 400px;
  }
  section #galerias .galeriasdebodas {
    width: 90vw;
  }
  section #galerias div figcaption {
    font-weight: normal;
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
  /* Portfolio */
  .columna div .imgtxt {
    width: 400px;
  }
  .columna .txtport {
    font-size: 2.2rem;
  }
  .form .form_title {
    font-size: 20px;
  }
  .form .form_subtitle {
    font-size: 17px;
  }
  .form .sectioncontacto .cajadecontacto .formulario {
    display: flex;
    align-items: center;
  }
  .form .sectioncontacto .cajadecontacto .formulario input {
    width: 80vw;
  }
  .form .sectioncontacto .cajadecontacto .formulario textarea {
    width: 80vw;
  }
  /* Galerías de bodas */
  body #main_galerias .titulo_galeria {
    font-size: 3rem;
  }
  body #main_galerias .descripcion_titulo {
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
  }
  body #main_galerias .articulo_galeria {
    font-size: 1.3rem;
    width: 90vw;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  body #main_galerias .galeria {
    row-gap: 0.5rem;
    margin-bottom: 5rem;
  }
  body #main_galerias .galeria .img_galeria {
    width: 95vw;
  }
  body #main_galerias .div_volver {
    margin-top: 4rem;
  }
  body #main_galerias .div_volver .volver {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .navbar-toggler {
    margin-right: 3rem;
  }
  main {
    /* Section 2 index */
    /*  Section 3 index*/
  }
  main .section1index .diventrada {
    column-gap: 2rem;
  }
  main .section1index .diventrada p {
    font-size: 2.8rem;
  }
  main .section1index .subtituloindex p {
    max-width: 85vw;
  }
  main .article_section1_index {
    flex-direction: column;
    padding: 0px;
  }
  main .article_section1_index div .imagen {
    width: 95vw;
  }
  main .article_section1_index div p {
    font-size: 2rem;
    padding: 3rem;
    margin-bottom: 0;
  }
  main .hrindex {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  main section .section2index {
    padding-right: 15px;
    padding-left: 15px;
  }
  main section .section2index .divconflex .divconflex2 .txt_lft {
    font-size: 1.8rem;
  }
  main section .section2index .divconflex div .txt_lft {
    font-size: 1.8rem;
  }
  main section .section2index div .imagen {
    margin-top: 15px;
  }
  main section .article3 {
    font-size: 18px;
  }
  main section .article3 figure .recientes {
    width: 90vw;
  }
  main section .article3 figure figcaption {
    font-size: 15px;
  }
  main .section4index .article-container .gracias .parrafogracias {
    font-size: 20px;
  }
  main .section4index .article-container .gracias .writemebutton {
    margin-right: 10px;
  }
  /* propuesta */
  main .wide_img_with_title div .imgtxt {
    width: 300px;
  }
  main .wide_img_with_title .propuesta {
    flex-direction: column;
    padding: 7px;
  }
  main .wide_img_with_title .propuesta div .img600 {
    width: 95vw;
  }
  main .wide_img_with_title .propuesta .columna .textopropuesta {
    margin: 30px;
    margin-top: 0px;
    font-size: 1.8rem;
  }
  main .wide_img_with_title .propuesta2 .tresfotos {
    flex-direction: column;
  }
  main .wide_img_with_title .propuesta2 .tresfotos .imagen3 {
    width: 95vw;
  }
  main .wide_img_with_title .propuesta2 .textopropuesta {
    padding: 0px;
    margin: 30px;
    margin-top: 0px;
    font-size: 1.8rem;
  }
  /* portfolio */
  .columna div .imgtxt {
    width: 380px;
  }
  .columna .txtport {
    font-size: 1.8rem;
    margin-bottom: 0px;
  }
  /* CONTACTO */
  .form .form_title {
    font-size: 1.5rem;
  }
  .form .form_subtitle {
    font-size: 17px;
  }
  .form .sectioncontacto .cajadecontacto .formulario {
    display: flex;
    align-items: center;
  }
  .form .sectioncontacto .cajadecontacto .formulario label {
    font-size: 1.2rem;
  }
  .form .sectioncontacto .cajadecontacto .formulario input {
    width: 90vw;
  }
  .form .sectioncontacto .cajadecontacto .formulario textarea {
    width: 90vw;
  }
  .form .sectioncontacto .cajadecontacto .formulario .botones .boton {
    width: 12rem;
  }
  /* Bodas */
  section .intro .imgtxt2 {
    width: 300px;
  }
  section #galerias .galeriasdebodas {
    width: 90vw;
  }
  section #galerias .galflex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section #galerias div figcaption {
    margin: 0px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  /* INDEX */
  .logosilvio {
    max-height: 50.76px;
  }
  main {
    /* section 2 */
    /* Section 3 */
  }
  main .section1index .diventrada {
    column-gap: 1.5rem;
  }
  main .section1index .diventrada p {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 0px;
  }
  main .section1index .subtituloindex {
    margin-bottom: 0px;
  }
  main .section1index .subtituloindex .hrindex {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  main .section1index .subtituloindex p {
    font-size: 1rem;
  }
  main .article_section1_index {
    flex-direction: column;
    padding: 0px;
  }
  main .article_section1_index div .imagen {
    width: 90vw;
  }
  main .article_section1_index div p {
    font-size: 1rem;
    padding: 2rem;
  }
  main section .section2index {
    padding: 1.5rem;
  }
  main section .section2index .divconflex {
    padding: 0px;
  }
  main section .section2index .divconflex .divconflex2 p {
    font-size: 2.5rem;
  }
  main section .section2index .divconflex .divconflex2 .txt_lft {
    font-size: 1.3rem;
  }
  main section .section2index .divconflex div .txt_lft {
    font-size: 1.3rem;
  }
  main section .article3 {
    margin: 15px;
    font-size: 13px;
  }
  main section .article3 figure .recientes {
    width: 90vw;
  }
  main section .article3 figure figcaption {
    font-size: 11px;
  }
  main .section4index .article-container {
    padding: 1.5rem;
    padding-bottom: 0rem;
  }
  main .section4index .article-container .gracias p {
    font-size: 2.5rem;
  }
  main .section4index .article-container .gracias .parrafogracias {
    font-size: 1.3rem;
  }
  main .section4index .article-container .gracias .writemebutton {
    width: 100px;
    margin: 0px;
  }
  /* Footer */
  footer div a .logosilvioabajo {
    margin: 0px;
  }
  footer div .ul2 {
    font-size: 1rem;
  }
  footer div ul a .iconos {
    height: 30px;
    margin: 10px;
  }
  /* Propuesta */
  main .wide_img_with_title div .imgtxt {
    width: 220px;
  }
  main .wide_img_with_title .propuesta .columna .textopropuesta {
    margin: 0px 15px 15px;
    font-size: 1.2rem;
  }
  main .wide_img_with_title .propuesta2 .textopropuesta {
    margin: 0px 15px 15px;
    font-size: 1.2rem;
  }
  main .wide_img_with_title .propuesta2 .tresfotos {
    margin-bottom: 2rem;
  }
  /* Bodas */
  section {
    /* .intro{
        .imgtxt2{
            width: 220px;
        }
    } */
  }
  section #galerias .galeriasdebodas {
    width: 90vw;
  }
  section #galerias .galflex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section #galerias div figcaption {
    margin: 0px;
    font-size: 1rem;
  }
  /* Portfolio */
  main .columna div .imgtxt {
    width: 250px;
  }
  main .columna .txtport {
    font-size: 1.2rem;
    margin: 2rem;
    margin-top: 0px;
  }
  main #carusia {
    padding: 0px;
  }
  .form .form_title {
    font-size: 1.5rem;
  }
  .form .form_subtitle {
    font-size: 17px;
  }
  .form .sectioncontacto .cajadecontacto .formulario {
    display: flex;
    align-items: center;
  }
  .form .sectioncontacto .cajadecontacto .formulario label {
    font-size: 1.2rem;
  }
  .form .sectioncontacto .cajadecontacto .formulario input {
    width: 90vw;
  }
  .form .sectioncontacto .cajadecontacto .formulario textarea {
    width: 90vw;
  }
  .form .sectioncontacto .cajadecontacto .formulario .botones .boton {
    width: 12rem;
  }
  /* Galerías de bodas */
  body #main_galerias .titulo_galeria {
    font-size: 3rem;
  }
  body #main_galerias .descripcion_titulo {
    width: 90vw;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  body #main_galerias .articulo_galeria {
    font-size: 1.5rem;
    width: 90vw;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  body #main_galerias .galeria {
    row-gap: 0.3rem;
    margin-bottom: 5rem;
  }
  body #main_galerias .galeria .img_galeria {
    width: 95vw;
  }
  body #main_galerias .div_volver {
    margin-top: 4rem;
  }
  body #main_galerias .div_volver .volver {
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
#landingbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/landingpage.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
}
#landingbody .logocentrado .logosilvio {
  margin-top: 1.5rem;
  max-height: 84.76px;
}
#landingbody .texto_y_boton {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 70%;
}
#landingbody .texto_y_boton .divbutton {
  background-color: rgb(245, 245, 245);
  border: black;
  padding: 15px 32px;
  cursor: pointer;
  border-radius: 15px;
  transition: 1.2s;
}
#landingbody .texto_y_boton .divbutton .button {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 16px;
}
#landingbody .texto_y_boton .divbutton:hover {
  transform: scale(1.2);
}
#landingbody .texto_y_boton .landingtexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#landingbody .texto_y_boton .landingtexto p {
  font-family: "Quicksand", sans-serif;
  color: rgb(217, 217, 217);
  font-size: 2rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

/* MEDIA QUERIES */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  #landingbody .texto_y_boton {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
    position: unset;
    position: absolute;
    top: 70%;
    left: unset;
  }
}
@media screen and (max-width: 767px) {
  #landingbody .logocentrado .logosilvio {
    max-height: 74.76px;
  }
  #landingbody .texto_y_boton {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
    position: unset;
    position: absolute;
    top: 70%;
    left: unset;
  }
}
/* position: absolute;
           top: 50%;
           left: 80%;
           transform: translate(-50%, -50%); */
main .articlegracias {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
main .articlegracias .form_gracias {
  text-align: center;
  font-size: 2rem;
}

/* AJUSTES GENERALES */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

body {
  width: 100vw;
}

.gray {
  background-color: rgb(208, 208, 208);
}

.crema {
  background-color: #FDF0E5;
}

.imagen {
  width: 800px;
}

.imgtxt {
  width: 500px;
}

figcaption {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 2rem;
}

/* MEDIA QUERIES */

/*# sourceMappingURL=estilos.css.map */
