@use './variables';

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	.iconos {
		height: 50px;
		margin: 0px 20px;
	}
	div {
		ul {
			list-style: none;
			font-size: 1.7rem;
			display: flex;
		}
	}
}
.ul2 {
	flex-direction: column;
	text-align: right;
	font-family: 'Julius Sans One', sans-serif;
}
.logosilvioabajo {
	margin: 10px;
}
