main{
    .articlegracias{
        display: flex;
        width: 100vw;
        height: 80vh;
        justify-content: center;
        align-items: center;
        
        .form_gracias{
            text-align: center;
            font-size: 2rem;
            
        }
}
}