@use './variables';


@mixin article-container () {
    display: flex;
    flex-direction: row;
    padding: 50px;
    }
@mixin txt_right ($der: right){
    text-align: $der;
    font-size: 3.5rem;
    padding: 10px;
    font-family: variables.$small;
}
@mixin txt_left ($lft: left){
    text-align: $lft;
    font-size: 3.5rem;
    padding: 10px;
    font-family: variables.$small;
}
@mixin textogrande {    
    font-size: 8.5rem;
    text-align: right;
    font-family: variables.$big;
}


/* BODY */

/*----------------- MAIN -----------------*/
main
    section {
        img {width: 100vw;}}
    .intro{
        font-size: 8rem;
        font-family: 'Aboreto', cursive;
        }

             /* section 1 */                
    /* SECTION 1 */
main{
    .section1index{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        .diventrada{
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 19rem;
            font-family: variables.$big;
            font-size: 8rem;
            
            p{
                margin-top: 2rem;
            }
        
        .movimiento1 {
            opacity: 0;
            animation: entrar-izq-a-der 1.5s forwards;
            overflow: hidden;
        }
        @keyframes entrar-izq-a-der {
            from {transform: translateX(-200%);}
            to {transform: translateX(0%);
                opacity: 1;}
        }
        .movimiento2 {
            opacity: 0;
            animation: entrar-izq-a-der 0.7s forwards;
            overflow: hidden;
        }
        @keyframes entrar-izq-a-der {
            from {transform: translateX(-300%);}
            to {transform: translateX(0%);
                opacity: 1;}
        }
        .movimiento3 {
            opacity: 0;
            animation: entrar-der-a-izq 2s forwards;
            overflow: hidden;
        }
        @keyframes entrar-der-a-izq {
            from {transform: translateX(+200%);}
            to {transform: translateX(0%);
                opacity: 1;}
        }
        }
        .subtituloindex{
            
            .movimiento4 {
                opacity: 0;
                animation: entrar-abajo-a-arriba 0.5s forwards;
                animation-delay: 1.5s;
            }
            @keyframes entrar-abajo-a-arriba {
                from {transform: translateY(+600%);}
                to {transform: translateY(0%);
                opacity: 1;}
            }
            font-family: variables.$small;
            font-size: 4rem;
            font-style: italic;
            margin-bottom: 3rem;
            
            
        }
        
    }
    .article_section1_index{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 5rem;
        div{
            p{
                font-family: variables.$small;
                font-size: 3.5rem;
                font-style: italic;
                text-align: center;
                padding: 6.5rem;
            }
        }
    }
    
}


    /* section 2 */
    section{
        .section2index {
            padding: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            div{
                .syp2{display: none;}
            }
            .divconflex {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: left;
                padding-right: 10px;
                
                .divconflex2{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    p{  
                        @include textogrande();
                        padding: 10px;
                    }
                    
                }
                div{
                    .txt_lft{
                        @include txt_left();
                    }

                }
                
            }
        }
    }
    /* Section 3 */
    section{
        .hr2{
            height: 2px;
            color: variables.$negro;
            background-color: variables.$negro;
            margin: 0px 10rem;
        }
        .top{
            margin-top: 2rem;
        }
        .article3{
            margin: 25px;
            font-size: 2rem;
            display: flex;
            justify-content: space-evenly;
            font-family: 'Julius Sans One', sans-serif;
        }
        figure{
            .recientes{
                width: 500px;
                transition:0.8s ;
            }
            .recientes:hover{
                transform: scale(1.05);
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            }

            figcaption{
                text-align: center;
                margin-top: 10px;}
        }

    }
    /* Section 4 */
    .section4index{
        .article-container{
            @include article-container();
            .gracias{
                display: flex;
                flex-direction: column;

                @include txt_right();
                p{
                    @include textogrande();
                    margin-bottom: 0px;
                }
                hr{
                    height: 2px;
                    color: variables.$negro;
                    background-color: variables.$negro;
                    margin-left: 50px;
                }
                .parrafogracias{
                    font-family: variables.$small;
                    text-align: right;
                    font-size: 3.5rem;
                    padding: 10px;
                }
                .writemebutton{
                    font-size: 3rem;
                    padding: 0;
                    margin-right: 5rem;
                    width: 250px;
                    align-self: self-end;
                    height: 5.5rem;
                    background-image: url(../img/resaltado3.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center right;
                    transition: 1.2s;
                    }
                .writemebutton:hover{
                    transform: scale(1.5);

                }    
            }
        }
    }


