@use './variables';

@media screen and (max-width: 1765px) {
    
    .wide_img_with_title{
        .propuesta2{
            .tresfotos{
                .imagen3 {width: 500px;}
            }
        }
    }
}

@media screen and (max-width: 1560px) {
.div5_main{
    padding-top: 0px;
    padding-bottom: 0px;
}
.textos{
    .txtindex{
        padding: 0px;
    }
}
.wide_img_with_title{
    .propuesta2{
        .tresfotos{
            .imagen3 {width: 450px;}
        }
    }
}
}

    // Estilos para pantallas con ancho mínimo de 1200px
@media screen and (min-width: variables.$desktop-width) and (max-width: 1522px) {

/* Index */
main{
    #grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 15% 10% 40% 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        align-items: center;
        justify-items: center;
        padding-bottom: 3rem;

        article{
            div{
                .imagen{
                    width: 600px;
                }
            }
        }
        .div4_main{
            p{
                font-size: 2.5rem;
            }
        }
        .div5_main{
            div{
                .txtindex{
                    font-size: 2.5rem;
                }
            }
        }
    }
    section{
        .section2index{
            .divconflex{
                div{
                    .txt_lft{
                        font-size: 2.5rem;
                    }
                }
            }
            div{
                .imagen{width: 600px;}
            }
        }
    }
    .section4index{
        .article-container{
            figure{
                .imagen{
                    width: 600px;
                }
            }
            .gracias{
                .parrafogracias{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

/* propuesta */
    .wide_img_with_title{
        section{
            div{
                .textopropuesta{
                    font-size: 2rem;}
            }       
        } 
        .propuesta2{
            .tresfotos{
                .imagen3 {width: 380px;}
            }
            .textopropuesta{font-size: 2rem;}
        }
    }
/* Bodas */
main{
    .intro{
        .imgtxt2{
            width: 55rem;
        }
    }
}

/* Portfolio */
main{
    .columna{
        .txtport{
            font-size: 2.5rem;

        }
    }
}
}


    // Estilos para pantallas con ancho entre 1024px y 1200px
@media screen and (min-width: variables.$tablet-width) and (max-width: variables.$desktop-width) {

    
/* index */
.logosilvio {
    max-height: 64.76px;
}
footer{
    .iconos {
		height: 40px;
		margin: 0px 16px;
	}
}
main{
    /* section 1 */
    #grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 15% 10% 40% 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        align-items: center;
        justify-items: center;
        padding-bottom: 3rem;

        .intro{
                font-size: 6rem;
        }
        .div4_main{
            p{
                font-size: 2rem;
            }
        }
        .div5_main{
            div{
                .imagen{
                    width: 500px;
                }
            }
            div{
                .txtindex{
                    padding: 1.5rem;
                    font-size: 2rem;
                }
            }
        }
    }
    /* section 2 */
    section{
        .section2index{
            .divconflex{
                .divconflex2{
                    p{
                        font-size: 6.5rem;
                    }
                }
                div{
                    .txt_lft{
                        font-size: 2rem;
                        margin: 0px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
                }
            }
            div{
                .imagen{width: 500px;
                }
            }
            div{
                .syp1{display: none;
                }
            }
            div{
                .syp2{display: inline;
                }
            }
        }
    }
    /* section 4 */
    .section4index{
        .article-container{
            figure{
                .imagen{
                    width: 500px;
                }
            }
            .gracias{
                .parrafogracias{
                    font-size: 2rem;
                }
                p{
                    font-size: 6.5rem;
                }
            }
        }
    }
    /* section 3 */
    section{
        .article3{
            font-size: 1.5rem;
        }
        div{
            figure{
                .recientes{
                    width: 400px;
                }
                figcaption{
                    font-size: 1.4rem;
                }
            }
        }
    }
}
/* Propuesta */
.foto_wide{
    width: 100vw;
}
main{
    .wide_img_with_title{
        div{
            .imgtxt{
                width: 400px;
            }
        }
        .propuesta{
            width: 100vw;
            padding: 0px;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
            div{
                .img600{
                    width: 800px;
                    padding: 1rem;
                }
            }
            .columna{
                .textopropuesta{
                    margin-bottom: 30px;
                    font-size: 2.2rem;
                }
                
            }
        }

        
            /* section 5 */
        .propuesta2{
            .tresfotos{
                div {
                .imagen3 {
                    width: 330px;}
                }
            }
            .textopropuesta{
                margin: 0px;
                padding-top: 0px;
                padding-left: 4rem;
                padding-right: 4rem;
                padding-bottom: 4rem;
                font-size: 2.2rem;
            }
        }
}
}
}
    
    // Estilos para pantallas con ancho entre 768px y 1024px
@media screen and (min-width: variables.$mobile-width) and (max-width: variables.$tablet-width) {
/* Index */
    main{
        /* section 1 */
        #grid-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 15% 10% 40% 1fr;
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            align-items: center;
            justify-items: center;
            padding-bottom: 3rem;
    
            .intro{
                    font-size: 5rem;
                    margin-bottom: 0px;
            }
            .div4_main{
                p{
                    font-size: 2rem;
                }
            }
            .div5_main{
                flex-direction: column;
                div{
                    .imagen{
                        width: 500px;
                    }
                }
                div{
                    .txtindex{
                        margin-bottom: 0px;
                        padding: 1.5rem;
                        font-size: 2rem;
                    }
                }
            }
        }
    }

 /* section 2 */
 section{
    .section2index{
        flex-direction: column;
        padding: 30px;
        .divconflex{
            .divconflex2{
                p{
                    font-size: 5.5rem;
                    margin: 0px;
                    padding: 0px;
                }
            }
            div{
                .txt_lft{
                    font-size: 2rem;
                    margin: 0px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left:10px;
                }
            }
        }
        div{
            .imagen{width: 500px;
                margin-top: 30px;
            }
        }
        div{
            .syp1{display: none;
            }
        }
        div{
            .syp2{display: inline;
            }
        }
    }
}

/* section 4 */
.section4index{
    .article-container{
        flex-direction: column;
        align-items: center;
        figure{
            .imagen{
                width: 500px;
            }
        }
        .gracias{
            .parrafogracias{
                font-size: 2rem;
            }
            p{
                font-size: 5.5rem;
            }
        }
    }
}

.logosilvio {
    max-height: 54.76px;
}
footer{
    .iconos {
		height: 30px;
		margin: 0px 16px;
	}
    .ul2{font-size: 12px;

    }
}

/* Propuesta */
.foto_wide{
    width: 100vw;
}

    .wide_img_with_title{
        .propuesta{
            flex-direction: column;
            padding: 30px;
            div{
                .img600{
                    width: 768px;
                    padding: 1rem;
                }
            }
        }
    
    .propuesta2{
        .tresfotos{
            flex-direction: column;
            .imagen3{
                width: 750px;
            }
        }
        .textopropuesta{
            padding: 0px;
            margin-bottom: 50px;            
        }
    }
}

/* footer */

footer{
    flex-direction: column;
    div{
        a{
            .logosilvioabajo{
                margin-top: 16px;
            }
        }
        .ul2{
            align-items: center;
        }
        ul{
            a{
                .iconos{
                    margin: 16px;
                }
            }
        }
    }
}


/* revisar */

        .parrafos{
        padding: 40px;
    }
    .article-container {
        display: flex;
        flex-direction: column;
    }
    .article3 {
        margin-top: 2rem;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        grid-row-gap:2rem}
    
    .recientes {
        width: 400px;
    }
    figcaption {
        text-align: center;
        font-size: 1.5rem;
    }
    
    
    }

// Estilos para pantallas con ancho máximo de 767px
@media screen and (max-width: variables.$mobile-width) {


    .div5_main {flex-direction: column;}
    .logosilvioabajo {display: none;}
    
footer .iconos {
    height: 30px;
    margin: 0px;}
    footer ul .ul2{font-size: 1rem;}
.txtport {font-size: 2rem;}

.tresfotos{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;}
.imagen3{width: 600px;}
.intro{
    .imgtxt2{width: 600px;}}
    .imagen {
        width: 400px;}
    .form_title {font-size: 3rem;}
    .imagen3{width: 400px;}
    .navbar-toggler-icon {
        width: 2em;
        height: 2em;
        }
}

    
@media screen and (max-width: 650px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgtxt {
        padding: 0px;}
    .textopropuesta{
        padding: 0px;
    }
    .ul2 {
        margin-top: 10px;
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;}
    .txtport {
        font-size: 1rem;}
    .imgtxt {
        width: 250px;} 
    }

@media screen and (max-width: 440px) {
        .imagen {
            width: 340px;
        }
        .imagen3 {
            width: 340px;
        }
        .intro {
            font-size: 3rem;
            font-family: variables.$big
        }
}

@media screen and (max-width: 381px) {
    .imagen {
        width: 300px;
    }
    .imagen3 {
        width: 300px;
    }
    .intro {
        font-size: 2.5rem;
        font-family: variables.$big
    }
    .logosilvio {max-height: 60px}
}
