@use './variables';

@media screen and (max-width: 1765px) {
    
    .wide_img_with_title{
        .propuesta2{
            .tresfotos{
                .imagen3 {width: 500px;}
            }
        }
    }
}

@media screen and (max-width: 1560px) {

.wide_img_with_title{
    .propuesta2{
        .tresfotos{
            .imagen3 {width: 450px;}
        }
    }
}
}

@media screen and (min-width: 1024px) and (max-width: 1522px) {
    main{
        .section1index{
            .diventrada{
                column-gap: 8rem;
            }
            .subtituloindex{
                font-size: 3.3rem;
            }
        }
        .article_section1_index{
            padding-left: 4rem;
            padding-right: 1rem;
            div{
                .imagen{
                    width: 600px;
                }
                p{
                    font-size: 2.5rem;
                    padding: 4rem;
                }
            }
        }
    }


}


    // Estilos para pantallas con ancho mínimo de 1200px
@media screen and (min-width: variables.$desktop-width) and (max-width: 1522px) {

/* Index */
main{
    


    /* section 2 */
    section{
        .section2index{
            .divconflex{
                div{
                    .txt_lft{
                        font-size: 2.5rem;
                    }
                }
            }
            div{
                .imagen{width: 600px;}
            }
        }
    }
    .section4index{
        .article-container{
            figure{
                .imagen{
                    width: 600px;
                }
            }
            .gracias{
                .parrafogracias{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

/* propuesta */
    .wide_img_with_title{
        section{
            div{
                .textopropuesta{
                    font-size: 2rem;}
            }       
        } 
        .propuesta2{
            .tresfotos{
                .imagen3 {width: 380px;}
            }
            .textopropuesta{font-size: 2rem;}
        }
    }
/* Bodas */
main{
    .intro{
        .imgtxt2{
            width: 55rem;
        }
    }
}

/* Portfolio */
main{
    .columna{
        .txtport{
            font-size: 2.5rem;

        }
    }
}

/* Galerías de Bodas */

body{
    #main_galerias{
        .titulo_galeria{
            font-size: 4rem;
        }
        .descripcion_titulo{
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
        }
        .articulo_galeria{
            font-size: 1.7rem;
            width: 900px;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            
        }
    }
}


}

    // Estilos para pantallas con ancho entre 1024px y 1200px
@media screen and (min-width: variables.$tablet-width) and (max-width: variables.$desktop-width) {

    
/* index */
.logosilvio {
    max-height: 64.76px;
}
footer{
    .iconos {
		height: 40px;
		margin: 0px 16px;
	}
}
main{
    /* section 2 */
    section{
        .section2index{
            .divconflex{
                .divconflex2{
                    p{
                        font-size: 6.5rem;
                    }
                }
                div{
                    .txt_lft{
                        font-size: 2rem;
                        margin: 0px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
                }
            }
            div{
                .imagen{width: 500px;
                }
            }
            div{
                .syp1{display: none;
                }
            }
            div{
                .syp2{display: inline;
                }
            }
        }
    }
    /* section 4 */
    .section4index{
        .article-container{
            figure{
                .imagen{
                    width: 500px;
                }
            }
            .gracias{
                .parrafogracias{
                    font-size: 2rem;
                }
                p{
                    font-size: 6.5rem;
                }
            }
        }
    }
    /* section 3 */
    section{
        .article3{
            font-size: 1.5rem;
        }
        div{
            figure{
                .recientes{
                    width: 400px;
                }
                figcaption{
                    font-size: 1.4rem;
                }
            }
        }
    }
}
/* Propuesta ******************************/
.foto_wide{
    width: 100vw;
}
main{
    .wide_img_with_title{
        div{
            .imgtxt{
                width: 400px;
            }
        }
        .propuesta{
            width: 100vw;
            padding: 0px;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
            div{
                .img600{
                    width: 800px;
                    padding: 1rem;
                }
            }
            .columna{
                .textopropuesta{
                    margin-bottom: 30px;
                    font-size: 2.2rem;
                }
                
            }
        }

        
            /* section 5 */
        .propuesta2{
            .tresfotos{
                div {
                .imagen3 {
                    width: 330px;}
                }
            }
            .textopropuesta{
                margin: 0px;
                padding-top: 0px;
                padding-left: 4rem;
                padding-right: 4rem;
                padding-bottom: 4rem;
                font-size: 2.2rem;
            }
        }
}
}
/* Galerías de bodas */
body{
    #main_galerias{
        .titulo_galeria{
            font-size: 4rem;
        }
        .descripcion_titulo{
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
        }
        .articulo_galeria{
            font-size: 1.7rem;
            width: 850px;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            
        }
    }
}

}
    
    // Estilos para pantallas con ancho entre 768px y 1024px
@media screen and (min-width: variables.$mobile-width) and (max-width: variables.$tablet-width) {
/* Index */
    main{
        /* section 1 */
        .section1index{
            .diventrada{
                p{
                    font-size: 6rem;
                }
                column-gap: 5rem;
            }
            .subtituloindex{
                font-size: 2.2rem;
                
            }
        }
        .article_section1_index{
            flex-direction: column;
            div{
                .imagen{
                    width: 700px;
                }
                p{
                    font-size: 2rem;
                    padding: 3rem;
                }
            }
        }
    }

 /* section 2 */
 section{
    .section2index{
        flex-direction: column;
        padding: 30px;
        .divconflex{
            .divconflex2{
                p{
                    font-size: 5.5rem;
                    margin: 0px;
                    padding: 0px 0px 0px 10px;
                }
            }
            div{
                .txt_lft{
                    font-size: 2rem;
                    margin: 0px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left:10px;
                }
            }
        }
        div{
            .imagen{width: 500px;
                margin-top: 30px;
            }
        }
        div{
            .syp1{display: none;
            }
        }
        div{
            .syp2{display: inline;
            }
        }
    }
}

/* section 4 */
.section4index{
    .article-container{
        flex-direction: column;
        align-items: center;
        figure{
            .imagen{
                width: 500px;
            }
        }
        .gracias{
            .parrafogracias{
                font-size: 2rem;
            }
            p{
                font-size: 5.5rem;
            }
        }
    }
}

.logosilvio {
    max-height: 54.76px;
}
footer{
    .iconos {
		height: 30px;
		margin: 0px 16px;
	}
    .ul2{font-size: 12px;

    }
}

/* Propuesta *****************************/ 
.foto_wide{
    width: 100vw;
}

    .wide_img_with_title{
        div{
            .imgtxt{
                width: 400px;
            }
        }
        .propuesta{
            flex-direction: column;
            padding: 30px;
            div{
                .img600{
                    width: 768px;
                    padding: 1rem;
                }
            }
            .columna{
                .textopropuesta{
                    margin-bottom: 30px;
                    font-size: 2.2rem;
                }
                
            }
        }
    
    .propuesta2{
        .tresfotos{
            flex-direction: column;
            .imagen3{
                width: 750px;
            }
        }
        .textopropuesta{
            padding: 0px;
            margin-bottom: 50px;
            font-size: 2.2rem;
        }
    }
}

/* footer */


/* Bodas */
section{
    .intro{
        .imgtxt2{
            width: 600px;
        }
    }
    #galerias{
        div{
            figcaption{
                font-weight: normal;
                font-size: 1.7rem;
                margin-bottom: 15px;
            }
        }
    }
}
.teinvito{
    .article3{
        font-weight: bold;
    }
    div{
        .figcaption{
            font-weight: normal;
            margin-top: 1.8rem;
            margin-bottom: 50px;
        }
        
    }
    #videocontainer{
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
        
    }
}

/* Galerías de bodas */
body{
    #main_galerias{
        .titulo_galeria{
            font-size: 4rem;
        }
        .descripcion_titulo{
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
        }
        .articulo_galeria{
            font-size: 1.7rem;
            width: 700px;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            
        }
        .galeria{
            row-gap: 0.5rem;
            margin-bottom: 5rem;
            .img_galeria{
                width:700px;
            }
        }
    }
}

/* revisar */

        .parrafos{
        padding: 40px;
    }
    .article-container {
        display: flex;
        flex-direction: column;
    }
    .article3 {
        margin-top: 2rem;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        grid-row-gap:2rem}
    
    .recientes {
        width: 400px;
    }
    figcaption {
        text-align: center;
        font-size: 1.5rem;
    }
}

// Estilos para pantallas con ancho máximo de 767px
@media screen and (max-width: variables.$mobile-width) {
/* Index */
.logosilvio {
    max-height: 54.76px;
}
main {
    .section1index{
        .diventrada{
            p{
                font-size: 4rem;
            }
            column-gap: 2rem;
        }
        .subtituloindex{
            p{
                font-size: 1.5rem;
            }
        }
    }
    .article_section1_index{
        flex-direction: column;
        padding: 0px;
        div{
            .imagen{
                width: 95vw;
            }
            p{
                font-size: 2rem;
                padding: 3rem;
            }
        }
    }
}
 /* section 2 */
section{
    .section2index{
        flex-direction: column;
        padding: 30px;
        .divconflex{
            .divconflex2{
                p{
                    font-size: 4rem;
                    margin: 0px;
                    padding: 0px 0px 0px 10px;
                }
            }
            div{
                .txt_lft{
                    font-size: 2rem;
                    margin: 0px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left:10px;
                }
            }
        }
        div{
            .imagen{width: 95vw;
                margin-top: 30px;
            }
        }
        div{
            .syp1{display: none;
            }
        }
        div{
            .syp2{display: inline;
            }
        }
    }
}
section{
    .article3{
        display: flex;
        flex-direction: column;
        align-items: center;
        figure{
            .recientes{
                width: 455px;
            }
        }
    }
}
.section4index{
    .article-container{
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 30px;
        .gracias{
            padding: 0px;
            p{
                font-size: 4rem;
            }
            hr{
                margin-top: 0px;
            }
            .parrafogracias{
                font-size: 30px;
            }
        }
        figure{
            .imagen{
                width: 98vw;
            }
        }
    }
}
/* footer */

footer{
    flex-direction: column;
    div{
        a{
            .logosilvioabajo{
                margin-top: 16px;
            }
        }
        .ul2{
            align-items: center;
        }
        ul{
            a{
                .iconos{
                    height: 30px;
                    margin: 16px;
                }
            }
        }
    }
}

/* Propuesta *****************************/ 
.foto_wide{
    width: 100vw;
}
main{
    .wide_img_with_title{
        div{
            .imgtxt{
                width: 400px;
            }
        }
        .propuesta{
            flex-direction: column;
            padding: 7px;
            div{
                .img600{
                    width: 95vw;
                    
                }
            }
            .columna{
                .textopropuesta{
                    margin: 30px;
                    margin-top:0px;
                    font-size: 2.2rem;
                }
                
            }
        }
    
    .propuesta2{
        .tresfotos{
            flex-direction: column;
            .imagen3{
                width: 95vw;
            }
        }
        .textopropuesta{
            padding: 0px;
            margin: 30px;
            margin-top: 0px;
            font-size: 2.2rem;
        }
    }
}
}

/* Bodas */
section{
    .intro{
        .imgtxt2{
            width: 400px;
        }
    }
    #galerias{
        .galeriasdebodas{
            width: 90vw;
        }
        div{
            figcaption{
                font-weight: normal;
                font-size: 1.7rem;
                margin-bottom: 15px;
            }
        }
    }
}

/* Portfolio */
.columna{
    div{
        .imgtxt{
            width: 400px;
        }
    }
    .txtport{
        font-size: 2.2rem;
    }
}
.form{
    .form_title{
        font-size: 20px;
    }
    .form_subtitle{
        font-size: 17px;
    }
    .sectioncontacto{
        .cajadecontacto{
            .formulario{
                display: flex;
                align-items: center;
                input{
                    width: 80vw;
                }
                textarea{
                    width: 80vw;
                }
            }
        }
    }
}

/* Galerías de bodas */
body{
    #main_galerias{
        .titulo_galeria{
            font-size: 3rem;
        }
        .descripcion_titulo{
            font-size: 1.3rem;
            text-align: center;
            font-weight: bold;
        }
        .articulo_galeria{
            font-size: 1.3rem;
            width: 90vw;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            
        }
        .galeria{
            row-gap: 0.5rem;
            margin-bottom: 5rem;
            .img_galeria{
                width:95vw;
            }
        }
        .div_volver{
            margin-top: 4rem;
            .volver{
                padding-left:1rem;
                padding-right: 1rem;
            }
        }
    }
}



}

    
@media screen and (max-width: 480px) {
    .navbar-toggler {
        margin-right: 3rem;
        }

main{
    .section1index{
        .diventrada{
            p{
                font-size: 2.8rem;
            }
            column-gap: 2rem;
        }
        .subtituloindex{
            p{
                max-width: 85vw;
            }
        }
    }
    .article_section1_index{
        flex-direction: column;
        padding: 0px;
        div{
            .imagen{
                width: 95vw;
            }
            p{
                font-size: 2rem;
                padding: 3rem;
                margin-bottom: 0;
            }
        }
    }

    .hrindex{
        margin-right: 5rem;
        margin-left: 5rem;
        margin-top: 0;
        margin-bottom: 0;
        
    }    

    /* Section 2 index */
    section{
        .section2index{
            padding-right: 15px;
            padding-left: 15px;
            .divconflex{
                .divconflex2{
                    .txt_lft{
                        font-size: 1.8rem;
                    }
                    
                }
                div{
                    .txt_lft{
                        font-size: 1.8rem;
                    }
                }
                
            }
            div{
                .imagen{
                    margin-top: 15px;
                }
            }
        }
    }

    /*  Section 3 index*/
    section{
        .article3{
            font-size: 18px;
            figure{
                .recientes{
                    width: 90vw;
                }
                figcaption{
                    font-size: 15px;
                }
            }
            }
    }
    .section4index{
        .article-container{
            .gracias{
                .parrafogracias{
                    font-size: 20px;
                }
                .writemebutton{
                    margin-right: 10px;
                }
            }
        }
    }
}

/* propuesta */

main{
    .wide_img_with_title{
        div{
            .imgtxt{
                width: 300px;
            }
        }
        .propuesta{
            flex-direction: column;
            padding: 7px;
            div{
                .img600{
                    width: 95vw;
                    
                }
            }
            .columna{
                .textopropuesta{
                    margin: 30px;
                    margin-top:0px;
                    font-size: 1.8rem;
                }
                
            }
        }
    
    .propuesta2{
        .tresfotos{
            flex-direction: column;
            .imagen3{
                width: 95vw;
            }
        }
        .textopropuesta{
            padding: 0px;
            margin: 30px;
            margin-top: 0px;
            font-size: 1.8rem;
        }
    }
}
}
/* portfolio */

.columna{
    div{
        .imgtxt{
            width: 380px;
        }
    }
    .txtport{
        font-size: 1.8rem;
        margin-bottom: 0px;
    }
}
/* CONTACTO */


.form{
    .form_title{
        font-size: 1.5rem;
    }
    .form_subtitle{
        font-size: 17px;
    }
    .sectioncontacto{
        .cajadecontacto{
            .formulario{
                label{
                    font-size: 1.2rem;
                }
                display: flex;
                align-items: center;
                input{
                    width: 90vw;
                }
                textarea{
                    width: 90vw;
                }
                .botones{
                    .boton{
                        width: 12rem;
                    }
                }
            }
        }
    }
}



/* Bodas */
section{
    .intro{
        .imgtxt2{
            width: 300px;
        }
    }
    #galerias{
        .galeriasdebodas{
            width: 90vw;
        }
        .galflex{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        div{
            figcaption{
                margin: 0px;
                font-size: 1.5rem;
                
            }
        }
    }
}
}


@media screen and (max-width: 320px){

    /* INDEX */
    .logosilvio {
        max-height: 50.76px;
    }

main{
    .section1index{
        .diventrada{
            p{
                font-size: 2.5rem;
                margin-top: 1rem;
                margin-bottom: 0px;
            }
            column-gap: 1.5rem;
        }
        .subtituloindex{
            .hrindex{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
            margin-bottom: 0px;
            p{
                font-size: 1rem;
            }
        }
    }
    .article_section1_index{
        flex-direction: column;
        padding: 0px;
        div{
            .imagen{
                width: 90vw;
            }
            p{
                font-size: 1rem;
                padding: 2rem;
            }
        }
    }
    /* section 2 */
    section{
        .section2index{
            padding: 1.5rem;
            .divconflex{
                padding: 0px;
                .divconflex2{
                    p{
                        font-size: 2.5rem;
                    }
                    .txt_lft{
                        font-size: 1.3rem;
                    }
                }
                div{
                    .txt_lft{
                        font-size: 1.3rem;
                    }   
                }
            }
        }
    }
/* Section 3 */

    section{
        .article3{
            margin: 15px;
            font-size: 13px;
            figure{
                .recientes{
                    width: 90vw;
                }
                figcaption{
                    font-size: 11px;
                }
            }
            }
    }
    .section4index{
        .article-container{
            padding: 1.5rem;
            padding-bottom: 0rem;
            .gracias{
                p{
                    font-size: 2.5rem;
                }
                .parrafogracias{
                    font-size: 1.3rem;
                }
                .writemebutton{
                    width: 100px;
                    margin: 0px;
                }
            }
        }
    }
}
/* Footer */    
footer{
    div{
        a{
            .logosilvioabajo{
                margin: 0px;
            }
        }
        .ul2{
            font-size: 1rem;
        }
        ul{
            a{
                .iconos{
                    height: 30px;
                    margin: 10px;
                }
            }
        }
    }
}

/* Propuesta */

main{
    .wide_img_with_title{
        div{
            .imgtxt{
                width: 220px;
            }
        }
        .propuesta{
            .columna{
                .textopropuesta{
                    margin: 0px 15px 15px;
                    font-size: 1.2rem;
                }
            }
        }
        .propuesta2{
            .textopropuesta{
                margin: 0px 15px 15px;
                font-size: 1.2rem;
            }
            .tresfotos{
                margin-bottom: 2rem;
            }

        }
    }
}

/* Bodas */
section{
    /* .intro{
        .imgtxt2{
            width: 220px;
        }
    } */
    #galerias{
        .galeriasdebodas{
            width: 90vw;
        }
        .galflex{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        div{
            figcaption{
                margin: 0px;
                font-size: 1rem;
                
            }
        }
    }
}

/* Portfolio */
main{
    .columna{
        div{
            .imgtxt{
                width: 250px;
            }
        }
        .txtport{
            font-size: 1.2rem;
            margin: 2rem;
            margin-top: 0px;
        }
    }
    #carusia{
        padding: 0px;
    }
}

.form{
    .form_title{
        font-size: 1.5rem;
    }
    .form_subtitle{
        font-size: 17px;
    }
    .sectioncontacto{
        .cajadecontacto{
            .formulario{
                label{
                    font-size: 1.2rem;
                }
                display: flex;
                align-items: center;
                input{
                    width: 90vw;
                }
                textarea{
                    width: 90vw;
                }
                .botones{
                    .boton{
                        width: 12rem;
                    }
                }
            }
        }
    }
}
/* Galerías de bodas */
body{
    #main_galerias{
        .titulo_galeria{
            font-size: 3rem;
        }
        .descripcion_titulo{
            width: 90vw;
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
        }
        .articulo_galeria{
            font-size: 1.5rem;
            width: 90vw;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            
        }
        .galeria{
            row-gap: 0.3rem;
            margin-bottom: 5rem;
            .img_galeria{
                width:95vw;
            }
        }
        .div_volver{
            margin-top: 4rem;
            .volver{
                font-size: 0.8rem;
                padding-left:0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
}


}