/* VARIABLES */
$gray: rgb(208, 208, 208);
$crema: #FDF0E5;
$negro:rgb(0,0,0);
$small: 'Noto Sans Symbols 2';
$big: 'Aboreto', cursive;
$carousel-transition-duration:1.7s;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1200px;


